@font-face {
  font-family: 'Young Serif';
  src: url('../fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 600 700;
  font-style: normal;
}
:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

.col-flex {
  display: flex;
  flex-direction: column;
}

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 32px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

body {
  background-color: var(--stone-100);
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
  padding: 48px 128px;
  color: var(--stone-600);
  font-family: 'Outfit', sans-serif;
}

ul, ol {
  padding-left: 23px;
  margin: 0px;
  list-style-type: none;
}

li {
  padding-left: 16px;
}

ul li::marker {
  color: var(--brown-800);
  margin-right: 16px;
}

ul li::before {
  color: var(--brown-800);
  margin-right: 16px;
}

ul.bullet-list {
  padding-left: 0px;
}

ul.bullet-list li::before {
  content: "•";
  font-size: 
}

ul.numbered-list {
  list-style-type: decimal;
}

ul.preparation-time-list li {
  padding-left: 8px;
}

ul.preparation-time-list li::before {
  color: var(--rose-800);
  margin-right: 16px;
}

.headers {
  font-family: 'Young Serif', sans-serif;
}

.page-header {
  color: var(--stone-900);
}

.brown {
  color: var(--brown-800);
}

h3 {
  color: var(--rose-800);
}

.main-container {
  background-color: var(--white);
  align-items: center;
  gap: 40px;
  padding: 40px;
  border-radius: 24px;
}

.omlette-img {
  width: 100%;
  max-height: 300px;
  border-radius: 12px;
}

.recipies-container {
  gap: 32px;
}

.recipe-header {
  gap: 24px;
}

.preparation-time {
  background-color: var(--rose-50);
  padding: 24px;
  gap: 16px;
  border-radius: 12px;
}

.ingredients {
  gap: 24px;
}

.instructions {
  gap: 24px;
}

.nutrition {
  gap: 24px;
}

.nutrition-table {
  gap: 12px;
}

.row-flex div:first-child {
  flex: 1;
  text-align: left;
}

.row-flex .brown {
  flex: 1;
  text-align: left;
}
.line {
  height: 1px;
  background-color: var(--stone-150);
  width: 100%;
}

@media (min-width: 1440px) {
  .main-container {
    width: 650px;
  }
}

@media (max-width: 768px) {
  .main-container {
    width: 100%;
  }
}

@media (max-width: 375px) {
  body {
    padding: 0px 0px;
  }

  .main-container {
    width: 100%;
    padding: 0px;
    gap: 0px;
    border-radius: 0px;
  }

  .recipies-container {
    padding: 40px 32px;
  }

  .omlette-img {
    border-radius: 0px;
  }
}

